# see this one for other good ideas: https://github.com/github/gitignore/blob/master/Python.gitignore
# local configuration
**/unitTest/conf/mdf.xml.conf

#
# pycharm folders
.idea

#
# test database folders
test/db/mongodb/db
test/db/mongodb/log

# pytest
.pytest_cache/

# all egg info dirs
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
